* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunitoregular.woff);
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunitobold.woff);
    font-weight: bold;
}

body {
    font-family: Nunito, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    background: #f7f7f7;
}

.logo {
    padding: 25px 0 27px 0;
    text-align: center;
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation-item.active a,
.navigation-item a:hover {
    background: #467DF2;
}

.navigation-item a:hover path {
    fill: #ffffff;
}

.navigation-item.active span {
    color: #ffffff;
}

.navigation-item a:hover span {
    color: #ffffff;
}

.navigation-item {
    margin: 5px 17px;
}

.navigation-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 13px 15px;
    border-radius: 5px;
}

.navigation-item a span {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    margin-left: 10px;
}

.navigation-item span {
    color: #ffffff;
}

.feedback {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 17px 17px;
}

.feedback-container {
    width: 214px;
    height: 176px;
    border: 1px solid #f7f7f7;
    overflow: visible;
}

.feedback-container:hover {
    border-color: #467df2;
    border-radius: 5px;
}

.feedback-container svg {
    float: left;
    padding: 13px 6px 7px 12px;
}

.feedback-text {
    width: 192px;
    clear: right;
    font-size: 14px;
    color: #4f4e4f;
    padding: 14px 12px;
}

.feedback-text a {
    text-decoration: none;
}

span {
    color: #0042eb;
}



.content {
    flex-grow: 1;
}

.header {
    background: #ffffff;
    max-width: 1670px;
}

.side {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.menu {
    display: flex;
    position: relative;
    list-style: none;
    align-items: center;
}

.list {
    margin-top: 8px;
}

.list-one a {
    display: flex;
    position: relative;
    width: 57px;
    font-size: 14px;
    color: #858796;
    text-decoration: none;
    margin-left: 60px;
}

.menu-list {
    display: flex;
    position: relative;
    margin-left: 40px;
}

.menu-list a {
    text-decoration: none;
    font-size: 14px;
    color: #858796;
}

.menu-list svg {
    vertical-align: middle;
    padding-left: 5px;
}

.menu-list a:hover path {
    fill: #467DF2;
}

.list-one a:hover,
.menu-list a:hover {
    color: #3d63d2;
}

.menu-drop {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    opacity: 0;
    top: -200px;
    border-radius: 10px;
    background: #ffffff;
}

.menu-drop-one {
    width: 77px;
    padding: 30px 53px 15px 20px;
}

.menu-drop-two {
    padding: 0px 27px 30px 20px;
}

.menu-list:hover .menu-drop {
    opacity: 1;
    text-align: center;
    top: 20px;
}

.menu-drop li {
    position: relative;
    list-style: none;
    font-size: 14px;
    color: #686464;
    cursor: pointer;
}

.menu-drop li:hover {
    color: #3d63d2;
}

.search-container {
    display: flex;
    position: relative;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
}

.header-search-button {
    display: flex;
    position: relative;
}

.search-container-form {
    position: relative;
    height: 40px;
}

.search-container-form svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-input {
    width: 100%;
    padding: 0 12px 0 35px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 333px;
    height: 40px;
}

.search-input::placeholder {
    color: #aaa;
}

.side-none {
    display: flex;
    position: relative;
    padding: 0 60px;
}

.side-none a:hover path {
    fill: #467DF2;
}

.button {
    border-radius: 10px;
    width: 83px;
    height: 40px;
    background: #467df2;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    border-color: transparent;
}

.button:hover {
    background: #2f54a3;
}





.container {
    background-color: #E5E5E5;
    max-width: 1670px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #4f4e4f;
    padding: 25px 40px 0px 40px;
}

.container-general {
    width: 1520px;
    font-size: 0;
    padding: 40px 76px 93px 75px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    gap: 40px;
}

.main-items {
    display: flex;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    width: 349px;
    height: 367px;
}

.main-items:hover {
    box-shadow: 0 4px 20px 0 rgba(102, 102, 102, 0.15);
}

.main-item {
    position: relative;
}

.main-item img {
    border-radius: 10px 10px 0 0;
}

.main-items-position {
    display: block;
}

.main-item-text {
    font-size: 14px;
    color: #4f4e4f;
    display: flex;
    position: absolute;
    border-radius: 5px;
    background: rgba(247, 247, 247, 0.8);
    top: 12px;
    left: 12px;
    align-items: center;
    padding: 4px 10px;
}

.main-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 139%;
    color: #4f4e4f;
    display: flex;
    position: relative;
    padding: 20px 26px 8px 26px;
}

.main-item-text.green {
    color: #027900;
    background: #c6e0c3;
}

.main-item-text.red {
    color: #db0c0c;
    background: rgba(255, 188, 188, 0.8);
}

.main-date {
    font-size: 15px;
    line-height: 200%;
    color: #4f4e4f;
    padding: 0 201px 18px 27px;
}

.main-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    height: 21px;
    padding: 0 27px 20px 27px;
}

.main-icon {
    cursor: pointer;
}

.main-icon a:hover path{
    fill: #467df2;
}

.main-icon a:hover ellipse {
    fill: #467df2;
}

.tehnical {
    transform: rotate(-90deg);
    display: flex;
    position: fixed;
    width: 186px;
    height: 49px;
    right: -75px;
    top: 370px;
    border-radius: 10px 10px 0 0;
    background: #467df2;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s all;
}

.tehnical:hover {
    background: #2f54a3;
    right: -65px;
}

.tehnical-text {
    font-size: 14px;
    color: #ffffff;
}

